doctype html
head
  title Josh's Portfolio
  meta(name='theme-color' content='#2081c3')
  meta(name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1 user-scalable=no')
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css')
  link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Poppins:600" rel="stylesheet")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
body
  block content
  block footer